annotated-types==0.7.0
anyio==4.10.0
apscheduler==3.10.4
asyncpg==0.30.0
click==8.3.0
colorama==0.4.6
fastapi==0.115.1
httpx==0.28.1
idna==3.10
passlib[bcrypt]
pydantic==2.8.2
python-dotenv==1.1.1
python-jose[cryptography]
PyYAML==6.0.2
sqlalchemy[asyncio]==2.0.36
typing-extensions==4.12.0
uvicorn==0.34.0
websockets==15.0.1
pgvector==0.3.6
